<h1>QR Code Information</h1>

<p>
  <strong>Name:</strong>
  <%= @qr_code_info.first_name %> <%= @qr_code_info.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @qr_code_info.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @qr_code_info.address %>
</p>

<p>
  <strong>ZIP:</strong>
  <%= @qr_code_info.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @qr_code_info.state %>
</p>

<p>
  <strong>Job Place:</strong>
  <%= @qr_code_info.job_place %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @qr_code_info.job_description %>
</p>

<p>
  <strong>GitHub:</strong>
  <%= link_to @qr_code_info.github_link, @qr_code_info.github_link, target: '_blank' %>
</p>

<p>
  <strong>Personal Website:</strong>
  <%= link_to @qr_code_info.personal_website_link, @qr_code_info.personal_website_link, target: '_blank' %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @qr_code_info.summary %>
</p>

<p>
  <strong>QR Code:</strong>
  <%= raw @qr_code_svg %>
</p>
